@import 'grid';

body{
    background-color:#fff;
}

.header{
   
     .menu{   
            position: fixed;
            left:0;
            top: 0;
            width: 100%;
            text-align: center;
            background: #4F4F4F;
            
            li{
                 display: inline-block;
             a{
                color:#c8c8b4;
                display: block;
                width: 100px;
                text-align:center;
                height: 44px;
                line-height: 44px;
                text-decoration: none;
                }
            }
        } 
}

.logo a{
    float: left;
    display: block;
    position: absolute;
    margin: 5px 0 0 20px;
    background-image: url(../img/LOGO.svg);
    width: 35px;
    height: 35px;
    text-indent: 101%;
    overflow: hidden;
    white-space:nowrap;
}
.content{
    margin-top: 44px;
    padding-top: 1em;
}



.footer{
    background:green;
    height: 100px;
}

